<div style="width: 95%; max-width: 400px; margin: 0 auto; background: white; border-radius: 15px; margin-top: 50px;">
  <h2 style="font-weight: 700; text-align: center; padding-top: 25px; padding-bottom: 0px; margin-bottom: 0px;">Log in</h2>

  <% if alert %>
    <p class="alert alert-danger" style="max-width: 90%; margin: 0 auto; border: none; border-radius: 15px; margin-top: 25px; padding: 10px 15px;"><%= alert %></p>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field" style="width: 90%; margin: 0 auto; padding-top:25px;">
      <%= f.text_field :login, autofocus: true, placeholder: "Username/Email", class: "form-control", style: "border-radius: 15px; background-color: #f8f8f8; border: none; padding: 10px 15px;" %>
    </div>

    <div class="field" style="width: 90%; margin: 0 auto; padding-top:25px;">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "form-control", style: "border-radius: 15px; background-color: #f8f8f8; border: none; padding: 10px 15px;" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field" style="width: 90%; margin: 0 auto; padding-top:25px; opacity: 0.7;">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions" style="width: 90%; margin: 0 auto; padding-top: 25px;">
      <%= f.submit "Log in", class: 'btn btn-success btn-sm', style: "width: 100%; border-radius: 15px; padding: 5px;" %>
    </div>
  <% end %>

  <div style="width: 100%; padding: 25px 0;">
    <%= link_to "Forgot password?", new_password_path(resource_name), style: "text-align: center; display: block; margin: 0; padding:0; text-decoration: none; font-size: 14px;" %>
  </div>

  <div style="border-top: 1px solid #f2f2f2; height: 1px; width: 90%; margin: 0 auto;">
  </div>

  <div style="width: 100%; padding: 25px 0;">
    <p style="text-align: center; margin: 0; padding: 0; opacity: 0.7; font-size: 14px;">Don't have an account?</p>
    <%= link_to "Sign up", new_registration_path(resource_name), style: "text-align: center; display: block; margin: 0; padding:0; text-decoration: none; font-size: 14px;" %>
  </div>

  <!-- <%= render "devise/shared/links" %> -->
</div>

